.job-search-area {
    background-image: url('../images/office-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    width: 100%;
    padding: 20px;
    position: relative;
    background-position: center bottom;
}

.job-search-box {
    background-color: white;
    width: 90%;
    margin-top: 10px;
    padding: 20px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

#job-input{
    width: calc(100% - 50px);
}

#job-search-btn{
    width:50px;
}

.recent-job, .popular-job{
    background-color:white;
    width:90%;
    margin-left:5%;
    height:auto;
    margin-top: 40px;
    padding:20px;
}

.card h5{
    margin-bottom:0px;
}

.card-title{
    margin-bottom: 5px;
}

.job-flowchart{
    margin: 40px 0;
    padding: 0 5%;
}

.step-image-container{
    margin:auto;
}

.step-image{
   width:40%;
}

.flowchart-header{
    margin-bottom:20px;
}

.step-description{
    padding:15px;
}

.step-description p{
    text-align:left;
}

@media (min-width:850px){

}